<%= simple_form_for topic, html: { class: "topic form" } do |f| %>
  <% if topic.errors.any? %>
    <div class="error-message">
      <%= topic.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= link_to "Cancel", topics_path, class: "btn btn--light" %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>