<%= turbo_stream_from "topics" %>
<main class="container">
  <div class="header">
    <h1>Topics</h1>
    <%# if admin TODO... %>
      <% if current_user != nil %>
        <%= link_to "New topic",
                    new_topic_path,
                    class: "btn btn--primary",
                    data: { turbo_frame: dom_id(Topic.new) } %>
      <% end %>
    <%# end %>
  </div>

  <%= turbo_frame_tag Topic.new do %>
    <% if @topics.none? %>
      <%= render "topics/empty_state" %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag "topics" do %>
    <%= render @topics %>
  <% end %>
</main>