<main class="container">
  <%= link_to sanitize("&larr; Back to topics"), topics_path %>
  <div class="header">
    <h1>
      <%= @topic.name %>
    </h1>

    <%= link_to "New Quiz",
                new_topic_quiz_path(@topic),
                class: "btn btn--primary",
                data: { turbo_frame: nested_dom_id(@topic, "new_quiz") } %>
  </div>

  <%= turbo_frame_tag nested_dom_id(@topic, "new_quiz") %>
  
  <%= turbo_frame_tag nested_dom_id(@topic, "quizzes") do %>
    <%= render @quizzes, topic: @topic %>
  <% end %>
</main>