<%= turbo_frame_tag nested_dom_id(@topic, @quiz, choice_question) do %>
  <div class="quiz__body">
    <%= turbo_frame_tag dom_id(choice_question, :edit) do %>
      <div class="quiz__header quiz__header_padding">
        <%= choice_question.question_text %>
        <% choices = choice_question.get_choices if defined?(user_answers) %>
        <% if quiz_owner(@quiz) and not defined?(user_answers) %>
          <div class="quiz__actions">
            <%= button_to "Delete",
                          [@topic, @quiz, choice_question],
                          method: :delete,
                          class: "btn btn--light" %>
            <%= link_to "Edit",
                        [:edit, @topic, @quiz, choice_question],
                        class: "btn btn--light" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= turbo_frame_tag nested_dom_id(@topic, @quiz, choice_question, "choices") do %>
      <%= render choice_question.choice, topic: @topic, quiz: @quiz, choice_question: choice_question %>
    <% end %>

    <%= turbo_frame_tag nested_dom_id(@topic, @quiz, choice_question, "new_choice") %>
    
    <% if defined?(user_answers) %>
      <% if user_answers.has_key?(choice_question.id.to_s) %>
        <% if(choice_question.all_correct(user_answers.fetch(choice_question.id.to_s))) %>
          <div>
            You checked all the correct choices: 
            <span class="choice__corr-answers"><%= choice_question.get_correct_choices("value").join(', ') %></span>.
          </div>
        <% else %>
          <div>
            Correct answers were: 
            <span class="choice__corr-answers"><%= choice_question.get_correct_choices("value").join(', ') %></span>
            , but you chose: 
            <span class="choice__corr-answers"><%= choice_question.get_user_values(user_answers).join(', ') %></span>.
          </div>
        <% end %>
      <% else %>
        <div>You didn't choose any answers. Correct answers were: 
          <span class="choice__corr-answers"><%= choice_question.get_correct_choices("value").join(', ') %></span>.
        </div>
      <% end %>
    <% else %>
      <% if quiz_owner(@quiz) %>
        <div class="nesto_footer">
          <%= link_to "Add choice", 
                      [:new, @topic, @quiz, choice_question, :choice],
                      data: { turbo_frame: nested_dom_id(@topic, @quiz, choice_question, "new_choice") },
                      class: "btn btn--primary" %>
        </div>
      <% end %>
    <% end %>

  </div>
<% end %>