<main class="container">
  <%= link_to sanitize("&larr; Back to topic"), topic_path(@quiz.topic) %>
  <%= turbo_frame_tag nested_dom_id(@quiz.topic, @quiz, "header") do %>
    <div class="header">
      <h1>
        You are curently answering <%= @quiz.name %>
      </h1>
    </div>
  <% end %>

  <%= turbo_frame_tag nested_dom_id(@topic, @quiz, "questions") do %>
    <%= render "form", topic: @topic, quiz: @quiz, questions: @questions, choices: @choices %>
  <% end %>
</main>