<%= turbo_frame_tag nested_dom_id(@topic, @quiz, text_input_question) do %>
  <div class="quiz__body">
    <div class="quiz__header quiz__header_padding">
      <%= text_input_question.question_text %>
      <% if defined?(user_answers) %>
        </div>
        <div class="choice__name">
          <% if text_input_question.answer.to_s == user_answers.fetch(text_input_question.id.to_s).strip %>
            You answered this question correctly: 
            <span class="choice__corr-answers">
              <%= text_input_question.answer.to_s %>
            </span>.
          <% else %>
            <% if user_answers.fetch(text_input_question.id.to_s) != "" %>
              Your answer to this question was:  
              <span class="choice__corr-answers">
                <%= user_answers.fetch(text_input_question.id.to_s).strip %>
              </span>
              , but the correct answer is: 
              <span class="choice__corr-answers">
                <%= text_input_question.answer.to_s %>
              </span>.
            <% else %>
              You left this question empty. Correct answer is 
              <span class="choice__corr-answers">
                <%= text_input_question.answer.to_s %>
              </span>.
            <% end %>
          <% end %>
        </div>
      <% else %>
        <% if quiz_owner(@quiz) %>
          <div class="quiz__actions">
            <%= button_to "Delete",
                          [@topic, @quiz, text_input_question],
                          method: :delete,
                          class: "btn btn--light" %>
            <%= link_to "Edit",
                        [:edit, @topic, @quiz, text_input_question],
                        data: { turbo_frame: nested_dom_id(@topic, @quiz, text_input_question) },
                        class: "btn btn--light" %>
          </div>
        </div>
        <div class="choice__name">
          Correct answer is: <%= text_input_question.answer %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>